<header>
    <div class = "navbar navbar-dark bg-warning shadow-sm">
        <div class = "navbar-brand align-item-center d-flex">
            <i style = "font-size: 22px; color: black; margin-left: 10px; margin-top: 8px" class = "fa-solid fa-truck-field-un"></i>
            <strong style = "font-size: 25px; color: black; margin-left: 10px;">Sonata E-Store</strong>
            <strong class = "btn btn-lg" style = "font-size: 20px; color: white; margin-left: 600px;" routerLink = "/">Home</strong>
            <strong class = "btn btn-lg" style = "font-size: 20px; color: white; margin-left: 10px;" routerLink = "/cart">Cart</strong>
            <strong class = "btn btn-lg" style = "font-size: 20px; color: white; margin-left: 10px;" routerLink = "/orders">Orders</strong>
        </div>
        <button class = "btn btn-warning">
            <i style = "font-size: 30px;" routerLink = "/cart" class = "fas fa-cart-plus"></i>
            <div style = "font-size: 10px;" class = "badge bg-success">{{totalItem}}</div>
        </button>
   </div>
  </header>